@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url(../img/BG\ MAIN.png) no-repeat fixed center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
main {
	backdrop-filter: blur(4px);
}
/* ======Header======= */
.nav-link {
	color: rgba(255, 255, 255, 0.512);
	border-radius: 5px;
	width: fit-content;
	padding: 5px;
}
.nav-link:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}
.active {
	width: fit-content;
	padding: 5px;
	color: rgb(255 255 255) !important;
	background-color: rgb(0 103 56);
	border-radius: 5px;
	font-weight: bold;
	border: solid 1px #198754;
	text-transform: uppercase;
}
#loggedArea {
	line-height: 0;
}

/* ======Index======= */
.bs-icon {
	--bs-icon-size: 2rem;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	font-size: var(--bs-icon-size);
	width: calc(var(--bs-icon-size) * 2);
	height: calc(var(--bs-icon-size) * 2);
}
.bs-icon-sm {
	--bs-icon-size: 1rem;
}

/* ====== Contato ====== */

.card {
	margin: 20px;
	margin-top: 5%;
	height: 330px;
	width: 230px;
	transform-style: preserve-3d;
	transition: all 0.5s;
	background-color: lightgray;
}

.card-img-top:hover {
	transform: scale(1.05);
	transition: 0.2s all;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.495);
}
.textCard {
	font-size: 12px;
}
.linksContato {
	text-decoration: none;
	color: inherit;
}

.card-body {
	width: 100%;
}
.face {
	position: absolute;
}

#front {
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}
#back {
	background-color: lightgray;
	transform: rotateY(0deg);
	transform-style: preserve-3d !important;
	backface-visibility: hidden;
}
.flip {
	transform: rotateY(180deg);
}

/* ====== Assinatura ====== */
.plan {
	min-width: 250px;
}
#cont{
	background-color: #d9d9d9;
	border-radius: 10px;
}
#cont2{
	background-color: #d9d9d9;
	border-radius: 10px;
}
#cont3{
	background-color: #d9d9d9;
	border-radius: 10px;
}